*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.page{
   
    
    .main{
        padding: 31px 56px 48px 79px;
        &-container{
            border: 1px solid #000;
            padding: 15px 0 0 0 ;
        }
        &-signature{
            display: flex;
            &-item{
            padding: 10px 36px 0px 18px;
            width: 33.33%;
            line-height: 26px;
            font-size: 20px;
            }
        }
        &-title{
            font-size: 26px;
            width: 445px;
            position: relative;
            margin: 0 auto;
        }
        &-content{
            padding: 16px 18px;
            line-height: 37px;    font-size: 21px;

        }
        &-footer{
            text-align: center;
            font-size: 20px;
        }
    }
    table, th, td {
        border: 1px solid black; /* Set a 1px solid border for all cells */
        border-collapse: collapse; /* Collapse the borders into a single line */
        font-size: 18px;

    }
    th, td {
        padding: 10px; /* Add some padding for cell content */
    //    display: flex;
    //    align-items: center;
    //      justify-content: center;
        text-align: center;
        height: 55px;
    }
   
        
          
}