:root {
    // color
    --primary: #000;
    --gray: #DADEE3;
    --icon-fill-color: #0a2946;
    --common-background: #ffff;
    --header-color: rgb(10, 41, 70);
    --divider-line: #0000FF;
    
    --header-height: 70px;
}