*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.page{
    width: 100vw;
    page-break-after: always; 
    
    .first-divider-line{
        height: 8px;
        background-color: #2a34f2;
    }
    .second-divider-line{
        margin-top: 1px;
        background-color: #2a34f2;
        height: 4px;

    }
    .header{
        padding:36px 56px 23px 77px;
        display: flex;
        justify-content: center;
        align-items: center;    
        &-container{
            width: 98%;
            border: 1px solid #000;
            display: flex;
            justify-content:space-between;
           &-logo{
            // width: 114px;
            height: 85px;
            border-right: 1px solid #000;
           text-align: center;
            img{
                width: 98px;
                margin-top: 17px;

            }
            width: 25%;
        }
            &-title{
                // width: 360px;
                h1{
                    font-size: 24px;
                    margin-top: 32px;
                }
            width: 50%;
text-align: center;
            }
            &-detail{
                // width: 185px;
            border-left: 1px solid #000;
            text-align: center;
                flex: 1;    font-size: 17px;

            }
        }
       
    }
    
    .main{
        padding: 31px 56px 48px 79px;
        &-container{
            border: 1px solid #000;
            padding: 15px 0 0 0 ;
        }
        &-signature{
            display: flex;
            &-item{
            padding: 10px 36px 0px 18px;
            width: 33.33%;
            line-height: 26px;
            font-size: 20px;
            }
        }
        &-title{
            font-size: 26px;
            width: 445px;
            position: relative;
            margin: 0 auto;
        }
        &-content{
            padding: 16px 18px;
            line-height: 37px;    font-size: 21px;

        }
        &-footer{
            text-align: center;
            font-size: 20px;
        }
    }
    table, th, td {
        border: 1px solid black; /* Set a 1px solid border for all cells */
        border-collapse: collapse; /* Collapse the borders into a single line */
    }
    th, td {
        padding: 10px; /* Add some padding for cell content */
    //    display: flex;
    //    align-items: center;
    //      justify-content: center;
        text-align: center;
        height: 55px;
    }
   
        
          
}